* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.content {
  width: 100%;
  margin: 50px 0;
  h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: #333;
  }
  #new-btn {
    border: 1px solid #03c03c;
    background-color: #fff;
    color: #03c03c;
    float: right;
    margin: 10px;
    &:hover {
      background-color: #03c03c;
      color: #fff;
    }
  }
  button {
    padding: 10px 14px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  #create-btn {
    border: 1px solid #03c03c;
    background-color: #fff;
    color: #03c03c;
    margin: 10px 0;
    font-size: 16px;
    &:hover {
      background-color: #03c03c;
      color: #fff;
    }
  }
  #close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #b6b6b6;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s;
    &:hover {
      color: #ff2323;
    }
  }
  ul {
    list-style-type: none;
  }
  #modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    #modal-content {
      background-color: #fff;
      border-radius: 10px;
      width: 350px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      input {
        padding: 10px;
        border-radius: 5px;
        margin: 5px 0;
        outline: none;
        border: 1px solid #ccc;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        &:focus {
          border-color: #66afe9;
          outline: none;
          box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
        }
      }
      label {
        font-weight: bold;
        margin-top: 10px;
        color: #333;
      }
      #base64output {
        width: 50px;
        height: 50px;
        border: 1px solid #c6c6c6;
        border-radius: 1px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .input-wrapper {
        position: relative;
        input {
          width: 100%;
        }
        .dollar-sign {
          position: absolute;
          top: 50%;
          right: 65%;
          transform: translateY(-50%);
          color: #b6b6b6;
        }
      }
    }
  }
}
table {
  border: none;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  margin: 20px 0;
  position: relative;
  th {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
  }

  tr,
  td {
    padding: 15px;
    color: #333;
    font-weight: 600;
  }
  tr {
    &:hover {
      background-color: #eeeeee;
    }
    &:nth-child(even) {
      background-color: #eeeeee;
    }
  }
  td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  #view-btn {
    background-color: #fff;
    border: 1px solid #407ba7;
    color: #407ba7;
    &:hover {
      background-color: #407ba7;
      color: #fff;
    }
  }
  #delete-btn {
    background-color: #fff;
    border: 1px solid #ff4742;
    color: #ff002b;
    &:hover {
      background-color: #ff4742;
      color: #fff;
    }
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #5dbea3 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #5dbea3);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
