* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 50px 0;
}
.content h1 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  color: #333;
}
.content #new-btn {
  border: 1px solid #03c03c;
  background-color: #fff;
  color: #03c03c;
  float: right;
  margin: 10px;
}
.content #new-btn:hover {
  background-color: #03c03c;
  color: #fff;
}
.content button {
  padding: 10px 14px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.content #create-btn {
  border: 1px solid #03c03c;
  background-color: #fff;
  color: #03c03c;
  margin: 10px 0;
  font-size: 16px;
}
.content #create-btn:hover {
  background-color: #03c03c;
  color: #fff;
}
.content #close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #b6b6b6;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s;
}
.content #close-btn:hover {
  color: #ff2323;
}
.content ul {
  list-style-type: none;
}
.content #modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.content #modal #modal-content {
  background-color: #fff;
  border-radius: 10px;
  width: 350px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.content #modal #modal-content input {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
.content #modal #modal-content input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
.content #modal #modal-content label {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}
.content #modal #modal-content #base64output {
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 1px;
}
.content #modal #modal-content #base64output img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content #modal #modal-content .input-wrapper {
  position: relative;
}
.content #modal #modal-content .input-wrapper input {
  width: 100%;
}
.content #modal #modal-content .input-wrapper .dollar-sign {
  position: absolute;
  top: 50%;
  right: 65%;
  transform: translateY(-50%);
  color: #b6b6b6;
}

table {
  border: none;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  margin: 20px 0;
  position: relative;
}
table th {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
}
table tr,
table td {
  padding: 15px;
  color: #333;
  font-weight: 600;
}
table tr:hover {
  background-color: #eeeeee;
}
table tr:nth-child(even) {
  background-color: #eeeeee;
}
table td {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
table img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
table #view-btn {
  background-color: #fff;
  border: 1px solid #407ba7;
  color: #407ba7;
}
table #view-btn:hover {
  background-color: #407ba7;
  color: #fff;
}
table #delete-btn {
  background-color: #fff;
  border: 1px solid #ff4742;
  color: #ff002b;
}
table #delete-btn:hover {
  background-color: #ff4742;
  color: #fff;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #5dbea3 94%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #5dbea3);
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}/*# sourceMappingURL=main.css.map */